.navbar{
    background-color:black;
}
.quem-somos {
    background-image: url("bootstrap/img/azul.jpg");
    width: 100%;
    height: 500px;
}
.quem-somos p {
    font-size: 25px;
}
.margin {
    padding-top: 30px;
}
.c1{
    background-color: cadetblue;
    border-radius: 20px;
    margin-left:5px;
    margin-right: 5px;
}
.c2{
  background-color: darkred;
  border-radius: 20px;
  margin-left:5px;
    margin-right: 5px;
}
.c3{
    background-color: darkgrey;
    border-radius: 20px;
    margin-left:5px;
    margin-right: 5px;
}
.bg-footer {
    background-color:black;
    color:gainsboro;
    padding: 50px;

}